---
services:
  backend:
    image: cadyyan/void-tool:dev

    build:
      context: .

    develop:
      watch:
        - action: rebuild
          path: .

    environment:
      VOID_LOGGING_LEVEL: debug
      VOID_RS_DATADIR: /mnt/void

    volumes:
      - type: volume
        source: void_data
        target: /mnt/void
        read_only: true

    ports:
      - name: http
        protocol: tcp
        target: 8080
        published: 8080

volumes:
  void_data:
    name: runescape_void_data
    external: true
