<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Void - Home</title>

		<style>
		html { font-family: monospace; }
		</style>
	</head>
	<body>
		<h1>Players</h1>
		{{range .Players}}
			{{$player := .}}
			<h2>{{$player.AccountName}}</h2>
			<table>
				<thead>
					<tr>
						<th>Skill</th>
						<th>Level</th>
						<th>Experience</th>
					</tr>
				</thead>
				<tbody>
					{{range $.Skills}}
						<tr>
							<td>{{.}}</td>
							<td>{{index $player.Levels .}}</td>
							<td>{{index $player.Experience .}}</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		{{end}}
	</body>
</html>
