<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Void - Home</title>

		<link rel="stylesheet" href="/assets/main.css" />
	</head>
	<body class="prose">
		<h1>Players</h1>
		{{range .Players}}
			{{$player := .}}
			{{$skills := index $.PlayerSkills $player.Username}}
			<h2>{{$player.Username}}</h2>
			<table>
				<thead>
					<tr>
						<th>Skill</th>
						<th>Level</th>
						<th>Experience</th>
					</tr>
				</thead>
				<tbody>
					{{range $.SkillOrder}}
						{{$skill := index $skills .}}
						<tr>
							<td>{{.}}</td>
							<td>{{$skill.Level}}</td>
							<td>{{$skill.Experience}}</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		{{end}}
	</body>
</html>
